:root{
    --main-color: darkred;
    --second-color: #C67F7F;
    --third-color: #ececec;
    --title-font: 'Nova Square', cursive;
    --main-font: 'Rajdhani', sans-serif;
}

body {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.nav-item{
    list-style-type: none;
    margin: 10px;
}

/*Font*/
.font_nova_square{
    font-family: 'Nova Square', cursive;
}
.font.rajdhani{
    font-family: 'Rajdhani', sans-serif;
}
 
.first_title{
    text-align: center;
    justify-content: center;
    margin-top: 150px;
    letter-spacing: 30px;
    color: darkred;
}

.dim_sfondo{
    width: 100%;
    height: 100%;
    padding: 0px;
}

.first_section_mountain{
    background: linear-gradient(to bottom, rgb(255, 255, 255), rgba(236, 236, 236, 0)), url("../img/switzerland-862870_1920.jpg");
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.second_img_mountain{
    background-image: url("../img/mountains.png");
    position: absolute;
    left: 0;
    width: 100%;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

.section_op{
    width: 100vw;
    background: linear-gradient(180deg, #fff, #ececec);
}

#main_txt{
    width: 100%;
    text-align: center;
    font-weight: 500; 
    font-style: italic;
    color: #777;
    padding: 2rem 0;
}

#main_txt_p{
    font-size: 1.4rem;
}

.mark-q{
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 0;
    color: var(--main-color);
}

#input-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 3rem;
}

.input-txt{
    font-size: 1rem;
    text-align: center;
    text-transform: lowercase;
    padding-top: 1rem;
}

.symbol{
    font-size: 2.8rem;
    text-align: center;
    color: var(--main-color);
}

.form-range {
    width: 50%;
}

.form-range:focus::-webkit-slider-thumb {
    box-shadow: none;
}

.form-range:focus::-moz-range-thumb {
    box-shadow: none;
}

.form-range::-webkit-slider-thumb {
    margin-top: -0.4rem;
    background-color: #fff;
    border: 1px solid #8b0000;
}

.form-range::-webkit-slider-thumb:active {
    background-color: #8b0000;
}

.form-range::-webkit-slider-runnable-track {
    width: 100%;
    height: .2rem;
    color: transparent;
    cursor: pointer;
    background-color: #8b0000;
    border-color: transparent;
    border-radius: 1rem;
}

.bg-image{
    background-color:#ececec;
}

.description-box{
    width: 40%;
}

#description-l,
#description-r{
    margin-left: 3rem;
    margin-right: 3rem;
}

.description-box{
    font-weight: 500;
}

.description-box:first-child{
    margin-top: 6rem;
}

.description-box:last-child{
    margin-top: 6rem;
}

.section-title{
    font-family: var(--title-font);
    color: var(--dark-red);
}

.section-title{
    font-size: 1.4rem;
    color: var(--main-color);
}

.description-txt{
    color: #777;
    font: var(--main-font);
}

#submit-section{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 60vh;
}

.submit-btn{
    width: 150px;
    height: 45px;
    background-color: var(--main-color);
    border: none;
    color: #fff;
    cursor: pointer;
    z-index: 1;
}

.submit-btn:hover{
    background-color: var(--main-color);
    color: #fff;
    box-shadow: 1px 1px 10px var(--main-color);
}

.trees-img{
    width: 100%;
    height: 100%;
    background-image: url("../img/trees2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.box-layer5{
    padding-top: 80px;
    padding-left:73px;
    padding-bottom: 30px;
    color: var(--main-color);
    font-family: var(--title-font);
}

#list-term{
    color: darkred;
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.3rem;
    font-family: var(--title-font);
}

.txt-timeline{
    font-family: var(--main-font);
}

.sideLine{
    border-left: 3px solid darkred;
    height:25%;
    z-index: 1;
}
.sideLine::after{
    content: "";
    position: absolute;
    top: 0px;
    left: -0.73vw;
    width: 15px;
    height: 15px;
    background-color:white;
    border: 2px solid darkred;
    border-radius: 50%;
    z-index: 2;
}

.leCime{
    background-image: url("../img/single.png");
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
}

.circular-border{
    display: inline-block;
    position: relative;
    border-radius: 50%;
    border: 2px solid darkred;
    width: 120px;
    height: 120px;
    overflow: hidden; 
}
.circular-landscape{
    margin-top: 8.4px;
    margin-left: 7.75px;
    position: absolute;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    overflow: hidden; 
}

.top-icon{
    color: darkred;
}

.gray-text{
    color: #777;
}

.circular-border2{
    display: inline-block;
    position: relative;
    border-radius: 50%;
    border: 2px solid darkred;
    width: 190px;
    height: 190px;
    overflow: hidden; 
}
.circular-landscape2{
    margin-top: 6.3px;
    margin-left: 6.2px;
    position: absolute;
    border-radius: 50%;
    width: 173px;
    height: 173px;
    overflow: hidden; 
}

.box-layer6{
    padding-top: 50px;
}

.box-layer7{
    padding-top: 25px;
    padding-left:62px;
}

.imgFooter{
    background-image: url("../img/other.png");
    height: 55vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.third-line{
    background-color: var(--main-color);
}

.footerText{
    color:white;
    font-size: 2rem;
    font-weight:lighter;
    font-family: var(--title-font);
    
}

.footerText2{
    color:white;
    font-size: 1.5rem;
    font-weight:lighter;
    font-family: var(--main-font);
}

.footerText3{
    color:white;
    font-size: 1rem;
    font-family: var(--main-font);
}












@media screen and (min-width: 768px) {

    .profile-img {
        position: absolute;
        bottom: 0px;
        right: 0px;
        transform: translateX(0%);
        max-height: 180vh;
        }
}
 @media screen and (max-width: 768px) {
    h1{
     letter-spacing: 50px;
    }
}
 
 



